<h1 class="mb-3">My name is Sergio Córdova</h1>
<h2>I major in Computer Science</h2>
<h2>I enrolled at the university in 2023</h2>

<a href="https://github.com/S-CORDOVA" target="_blank" class="link-primary">
  My Github:
</a>

<h2>I like what I study and want to make money off of it</h2>

<table class="table table-bordered">
  <tr>
    <th>Skill</th>
    <th>Level</th>
  </tr>

  <tr>
    <td>Python</td>
    <td>Intermediate</td>
  </tr>

  <tr>
    <td>Javascript</td>
    <td>Basic</td>
  </tr>
  
  <tr>
    <td>HTML/CSS</td>
    <td>Basic</td>
  </tr>

  <tr>
    <td>Git</td>
    <td>Basic</td>
  </tr>

  <tr>
    <td>Excel</td>
    <td>Basic</td>
  </tr>

  <tr>
    <td>SQL</td>
    <td>Intermediate</td>
  </tr>

  <tr>
    <td>English</td>
    <td>Advanced</td>
  </tr>

  <tr>
    <td>Spanish</td>
    <td>Native</td>
  </tr>
</table>